/* Adding css grids */
.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "main" "nav" "footer";
  min-width: 400px;
}


@media (min-width: 400) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header header header" "main main main main" "nav nav nav nav" "footer footer footer footer";
  }
}




ul li {
  /* Adjusting the header */
  list-style-type: none;
  display: inline-block;
  margin-right: 25px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.header {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  grid-area: header;
  flex-direction: row; /* Stack the logo and menu items horizontally */
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  padding: 10px;
  background-color: white;
  color: black;
}

.header img {
  margin-right: 25px; /* Adjust the margin as needed */
}

.main {
  grid-area: main;
  padding: 25px;
  text-align: center;
  background-color: #495E57;
  font-weight: bold;
}
.main h1 {
  color: #F4CE14;
}

.main h2, .main article {
  color: white;
}

.footer {

  grid-area: footer;
  padding: 10px;
  background-color: #ffefa0;
  color: #495E57;
  font-weight: bold;
  text-align: center;
}

/* Styling the main part */
.main-content {
  display: flex;
  flex-direction: row; /* Stack the image and text side by side */
  align-items: center;
  justify-content: end; /* Add space between image and text */
}

.main-btn {
  margin-top: 20px;
  padding: 10px; 
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: #F4CE14;
}

.main-text {
  justify-content: space-between;
  align-items: center;
  width: 45%; /* Adjust the width of the text content */
  text-align: left; /* Align text content to the left */
  padding-right: 0px ; /* Add some spacing between text and image */
  font-size: 20px; /* Adjust the font size as needed */
  margin: 0; /* Remove any default margin */
  
}

.main-image{
  width: 35%; /* Adjust the width of the image */
}

.main-image img{
  width: 40%; /* Adjust the width of the image */
  border-radius: 16px;
}


/* Styling the nav part */

.image-container { 
  display: flex;
  width: 80%;
  /* center the container horizontally */
  margin: 0 auto;
  align-items: center;
  line-height: 1;
  background-color: white;
  
}
.image-item img{
  width: 100%;
  /* rem unit can be viewed on 
  different viewport sizes */
  border-radius: 1rem;
}

.image-item {
  width: 40%;
  /* border: solid black; */

  background-color:#EEEEEE;
  border-radius: 1rem;
  margin: 1.25rem;
  flex-wrap: wrap;
}
.price{ 
  margin-left:40%;
}
/* positioning description */
.image-item p{
  flex-wrap: wrap;
  margin-right: 40%;
  margin-bottom: 30%;
  
}
.delivery {
  margin-bottom: 8px;
}

.price-delivery{
  margin-left: 50%;
}

.nav {
  grid-area: nav;
  /* padding: 25px; */
  background-color: white;
  /* recipe font color */
  color: black;
  text-align: center;

}

.specials-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* Add any other styles for the container here */
  font-size: 16px;
}

/* Styling the button */
.button {
  padding: 0.625rem 1.25rem;
  background-color: #F4CE14;
  color: black;
  border: none;
  cursor: pointer;
  /* Add extra styles for the button */
  width: 10%;
  height: 20%;
  margin: 10px;
  padding: 10px; 
  border-radius: 12px;
  border: none;
}

.price {
  color: #EE9972; /* Set the text color to EE9972 */
} 


.specials-container h2{
  color: black;
  margin-left: 25%;
  font-size: 18pt;
}


.footer ul{
  display: flex;
  align-items: center;
  margin: 20px;
}
.footer{
  display: flex;
  align-items: center;
}

/* Styling the form */
.reserve-form {
  max-width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="date"],
select,
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}